html {
    scroll-behavior: smooth; 
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
  }
  
  .container {
    max-width: 1440px;
    margin: 0 auto;
  }
  
  .main-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .section {
    width: 50%;
  }
  
  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }
  
  .nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;
  }
  
  .section-item a {
    color: #829985;
    text-decoration: none;  
    transition: color 0.5s;
  }
  
  .section-item a:hover {
    color: #4d2323;
  }
  
  .avatar {
    border-radius: 10px;
    width: 200px;
  }
  
  .row-container {
    flex-direction: row;
  }
  
  #avatar,#info {
    text-align: center;
  }
  
  #info {
    margin: auto;
  }
  
  .separator {
    width: 100%;
    border-width: 3px;
  }
  
.footer {
    display: flex;
}

  .footer-image {
    width: 20px;
  }
  